# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Gradle
hms_backend/.gradle/
hms_backend/build/
hms_backend/bin/

# Flutter
frontends/*/.dart_tool/
frontends/*/build/
frontends/*/.flutter-plugins-dependencies
frontends/*/.flutter-plugins
